{# Blablabla #}
{% if ansible_distribution == "Debian" -%}
   Distribution Debian
{% elif ansible_distribution == "CentOS" -%}
   Distribution CentOS
{% else -%}
   Distribution non supportée
{% endif %}

Liste des stagiaires:
{% for stagiaire in stagiaires %}
   {{ stagiaire }}
{% endfor %}

Informations sur bob:
{% for cle, valeur in bob.items() %}
    {{cle}}: {{valeur}}
{% endfor %}

